<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>eat what</title>
    <link href="../css/style.css" type="text/css" rel="stylesheet" media="all">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="../static/js/web.js"></script>
</head>
<body>

<section class="main clearfix"><br>
  <div class="login">
    <div class="login-left"></div>
    <div class="logoin-right">
      <p><span>welcome to be member</span>
        <dl>
        <dt>Account</dt>
        <dd>
          <input type="text" name="Account" id = "changeAccount" required>
        </dd>
        <dt>Old Password</dt>
        <dd>
          <input type="password" id="oldPassword" name="password" required>
          </dd>
        <dt>New Password</dt>
        <dd>
          <input type="password" id="newPassword" name="password" required>
          </dd>

		  <dt>Confirm Password</dt>
        <dd>
          <input type="password" id="cnewPassword" name="confirmpwd" required>
        </dd>
      </dl>
      <button type="submit" name="submit" id ="change">Change Password</button>
    </div>
  </div>
</section>
<footer> eat what</footer>
</body>
</html>