<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Eat what</title>
<link href="../static/css/style.css" type="text/css" rel="stylesheet" media="all">
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="../static/js/web.js"></script>
</head>

<body>
<section class="main clearfix"><br>
  <div class="bar2">
    <h3>Members login</h3>
  </div>
  <div class="login">
    <div class="logoin-right">
      <p><b>have no account？</b><a href="create">join us!</a></p>
      <dl>
        <dt>Account</dt>
        <dd>
          <input type="text" id="account" required>
        </dd>
        <dt>password</dt>
        <dd>
          <input type="password" id="pwd" required>
          <span id="pwd-icon" class="iconfont icon-yincangmima"></span></dd>
      </dl>
      <button type="submit" id ="login">login</button>
      <div class="pw" ><a href="change">change password</a></div>
    </div>
  </div>
</section>
<footer> eat what</footer>
</body>
</html>
