<!DOCTYPE html>
<html>
<head>
    {% block head %}
<meta charset="UTF-8">
<title>Eat what</title>

<link href="../static/css/style.css" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.4.2.min.js"></script>
  <script src="../static/js/web.js"></script>
    <script>
    function myFunction(id) {
        $.post("/delete", {id: id},
            function (data, status) {
                location.reload();
            }, 'json')
    }

    function parkFunction(id){
        result_table = document.getElementById('result-table')
        $.post("/park",{id: id},
            function(data, status){
                result_data = data['data']
            var res = [{
                type: 'table',
                header: {
                  values: result_data['labels'],
                  line: {width: 1, color: 'black'},
                  fill: {color: "grey"},
                  font: {family: "Arial", size: 12, color: "white"}
                },
                cells: {
                  values: result_data['values'],
                  line: {color: "black", width: 1},
                }
            }];
            Plotly.newPlot(result_table, res);
        },'json')
    }
    </script>
    {% endblock %}
</head>

<body>
<div><a href="http://20.88.14.242:10051/search">Return to Search</a></div>
<div class="">
      {% for r in restaurants %}
    <div align="center" style="font-size: 30px">{{ r.name }}</div>
        <div>Price: {{r.price}}</div><br/>
        <div>Phone: {{r.phoneNumber}}</div><br/>
        <div>Website: <a href="{{r.website}}">{{r.website}}</a>></div><br/>
        <div>Address: {{ r.address }}</div>
        <button onclick="parkFunction('{{r.res_id}}')">Check Park</button>
            <form method="post" action="add_comment/{{r.res_id}}">
          Add comments：<textarea rows="3" cols="80" name="text"></textarea>
                star：<input type="number" name="rating" required>
              <button type="submit" name="submit">submit</button>
            </form>
      {% endfor %}
</div><br/><br/>

<div align="center" style="font-size: 22px"> Review </div><br/><br/>
<div class="">
      {% for r in reviews %}
    <div>User_Name: {{ r.User_name }}    Time: {{r.date}}      Rating: {{r.Rating}}</div><br/>
         <div>Text: {{r.Text}}</div><br/>
<!--        <button onclick="myFunction('{{r.review_id}}')">Delete</button>-->
      {% endfor %}
</div>

{% block content %}
{% endblock %}

<footer> eat what</footer>
</body>
</html>
